# FROM sp_ul_flask_t05d_f 11-05-2024
# Changes in select_test.html 11-8-2024

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Test</title>
</head>
<body>
    <h1>Select Test</h1>
    <ul>
        {% for letter, words in tests.items() %}
            <li>
                <a href="{{ url_for('start_test', letter=letter) }}">Test {{ letter.upper() }}</a> 
                (Correct: {{ scoring_board[letter].correct }} / Total: {{ scoring_board[letter].total }})
            </li>
        {% endfor %}
        
        {% if session['incorrect_words'] %}
            <a href="{{ url_for('retest_incorrect_words') }}">Retest Incorrect Words</a><br>
        {% endif %}
    </ul>
    <a href="{{ url_for('home') }}">Back to Main Menu</a>
</body>
</html>
