<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Test</title>
</head>
<body>
    <h1>Select an Alphabet Test</h1>
    <ul>
        {% for letter in letters %}
            <li><a href="{{ url_for('start_test', letter=letter) }}">Start Test for {{ letter.upper() }}</a></li>
            <li><a href="{{ url_for('retest_incorrect_words') }}">Retest Incorrect Words</a></li> 
        {% endfor %}
    </ul>

</body>
</html>
